<div class="layouts">
  <div class="parent">
      <div class="card" id="leftToRight">
          <h2>Money Manager</h2>
          <div class="buttons">
            <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
            <%= link_to "Register", new_user_registration_path, class: "btn btn-secondary"  %>
          </div>
      </div>
  </div>
</div>